<header class="navbar">
  <p>Ruby Tutorial</p>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Page 1", page1_path %></li>
    <li><%= link_to "Page 2", page2_path %></li>
  </ul>
  <div class="user-info">
    <h3>
      <%= link_to "Sign In", "#" %> |
      <%= link_to "Register", controller: :users, action: :new %>
    </h3>
  </div>
</header>