<header class="navbar">
  <p>Ruby Tutorial</p>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Page 1", page1_path %></li>
    <li><%= link_to "Page 2", page2_path %></li>
  </ul>
  <div class="user-info">
    <h3>
      <% if(signed_in?) %>
          <%= link_to "Account", user_path(current_user.id) %> |
          <%= link_to "Sign Out", signout_path, method: :delete %>

      <% else %>
        <%= link_to "Sign In", controller: :sessions, action: :new %> |
        <%= link_to "Register", controller: :users, action: :new %>
      <% end %>
    </h3>
  </div>
</header>